# Fizzbuzz with Python

In [13]:
import pandas as pd

In [25]:
result = []

for i in range(1, 101): 
    if i % 15 == 0:
        result.append("fizzbuzz")
    elif i % 3 == 0: 
        result.append("fizz")
    elif i % 5 == 0: 
        result.append("buzz")
    else: 
        result.append("-")

In [26]:
df = pd.DataFrame({'input': range(1,101), 'result' : result})

In [27]:
df

    input    result
0       1         -
1       2         -
2       3      fizz
3       4         -
4       5      buzz
5       6      fizz
6       7         -
7       8         -
8       9      fizz
9      10      buzz
10     11         -
11     12      fizz
12     13         -
13     14         -
14     15  fizzbuzz
15     16         -
16     17         -
17     18      fizz
18     19         -
19     20      buzz
20     21      fizz
21     22         -
22     23         -
23     24      fizz
24     25      buzz
25     26         -
26     27      fizz
27     28         -
28     29         -
29     30  fizzbuzz
..    ...       ...
70     71         -
71     72      fizz
72     73         -
73     74         -
74     75  fizzbuzz
75     76         -
76     77         -
77     78      fizz
78     79         -
79     80      buzz
80     81      fizz
81     82         -
82     83         -
83     84      fizz
84     85      buzz
85     86         -
86     87      fizz
87     88         -
88     89         -
89     90  fizzbuzz
90     91         -
91     92         -
92     93      fizz
93     94         -
94     95      buzz
95     96      fizz
96     97         -
97     98         -
98     99      fizz
99    100      buzz

[100 rows x 2 columns]