# Matplotlib examples

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels as sm
from IPython.core.pylabtools import figsize

%matplotlib inline
figsize(6, 6)

# Eg 1: Shared x-axis

https://matplotlib.org/3.1.1/gallery/subplots_axes_and_figures/shared_axis_demo.html#sphx-glr-gallery-subplots-axes-and-figures-shared-axis-demo-py

In [2]:
t = np.arange(0.01, 5.0, 0.01)
s1 = np.sin(2 * np.pi * t)
s2 = np.exp(-t)
s3 = np.sin(4 * np.pi * t)

In [3]:
type(s1)

numpy.ndarray

In [7]:
df1 = pd.DataFrame({'sin_fn':s1, 'exp_fn':s2}, index = t)

In [10]:
df1.head()

        sin_fn    exp_fn
0.01  0.062791  0.990050
0.02  0.125333  0.980199
0.03  0.187381  0.970446
0.04  0.248690  0.960789
0.05  0.309017  0.951229